

.app {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 240px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  position: relative;
}
.sidebar.collapsed {
  width: 55px;
}

.sidebar.collapsed .text {
  display: none;
}

.sidebar .nav-link {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #fff;
  padding: 12px 16px;
  margin: 0;
  width: 100%;
  border-radius: 0;
}

.sidebar a,
.sidebar a:visited,
.sidebar a:active {
  color: #f8f9fa; /* Bootstrap light */
  text-decoration: none;
}

/* Hover state */
.sidebar a:hover {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.12);
}
.sidebar .icon {
  width: 24px;
  text-align: center;
}

.sidebar nav a {
  display: block;
  padding: 12px 16px;
  white-space: nowrap;
}

.sidebar nav,
.sidebar.menu{
  padding-top: 0px;
  
}



/* Optional hover */
.toggle-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.content {
  flex: 1;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

#mainContent {
  flex: 1;
  height: 100vh;
  overflow-y: auto;
  background-color: #f8f9fa; /* optional */
  padding: 1.5rem;
}

/* Sidebar logout button reset */
.sidebar .logout-btn {
  background: transparent;
  color: #f8f9fa;
  border: none;
  width: 100%;
  text-align: left;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  gap: 12px;
}

/* Hover state */
.sidebar .logout-btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}


.hidden-role {
  display: none !important;
}


.sidebar .menu {
  display: flex;
  flex-direction: column;
}

.sidebar .menu a {
  display: flex ;
  align-items: center;
  gap: 12px;
}


/* Keep hamburger floating top right */
.toggle-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 20px;
  background: none;
  border: none;
  color: #f8f9fa;
  cursor: pointer;
}

/* Center logo below hamburger */
.sidebar-logo {
  text-align: center;
  padding-top: 60px; /* space below hamburger */
  padding-bottom: 20px;
}

.sidebar-logo img {
  height: 70px;   /* 🔥 bigger logo */
  object-fit: contain;
  transition: 0.3s ease;
}

/* Smaller when collapsed */
.sidebar.collapsed .sidebar-logo img {
  height: 40px;
}

.product-col{
  max-width: 260px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movement-table-wrapper {
  overflow-x: auto;
}

.product-col {
  position: sticky;
  left: 0;
  background: white;
  z-index: 2;
  min-width: 200px;
  max-width: 300px;
}

.product-col {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}